<!DOCTYPE html>

<title>New Blog</title>

{% block body %}
    <h1>Create new Blog</h1>

    {{ include('blog_controllerr/_form.html.twig') }}

    <a href="{{ path('blog_controllerr_index') }}">back to list</a>
{% endblock %}
