
{% block body %}

    <script src="{{ asset('http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js') }}"></script>

    <script>
        $(document).ready(function(){
            $('#loadComments').on('click', function(event){
                $.ajax({
                    url: '/streams/streamCommentsAjax/'+$(this).data('id'),
                    type: 'POST',
                    dataType: 'json',
                    async: true,

                    success: function(data, status){

                        for (i=0;i<data.length; i++){
                            comment= data[i];
                            var row= $('<tr> <td class="text-danger" id="user"></td> <td class="text-light" id="text"></td> </tr>');
                            $('#user', row).html(comment['user']);
                            $('#text', row).html(comment['text']);
                            $('#commentsArea').append(row);
                        }
                    },
                    error : function(xhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                })
            })
        })
    </script>

    <a class="btn btn-primary" href="#" id="loadComments" data-id="{{ stream.id }}">Load comments</a>
    <table width="100%" title="Comments">

        <tbody id="commentsArea"></tbody>
    </table>
{% endblock %}